
header {
    margin-top: 55px;
    position: relative;
    background-color: rgb(255, 255, 255);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    
}

header .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item .h3 {
color:  #ebe8ff;
}

header .background1 {
  background: url(../img/image5.jpg) no-repeat;
}

header .background2 {
  background: url(../img/image4.jpg) no-repeat;
}
header .background3 {
  background: url(../img/image8.jpg) no-repeat;
}

  body {
    font-family: 'Comfortaa', cursive;
}

background-color-primary {
  color: #1a237e;
}

background-color-primary-light {
  color: #534bae;
}
background-color-primary-dark {
  color: #000051;
}
background-color-secondary {
  color: #e1f5fe;
}
background-color-secondary-light {
  color:#ffffff;
}
background-color-secondary-dark {
  color: #1a237e;
}

#projects {
  background: -webkit-linear-gradient(rgb(238, 238, 229), rgb(21, 0, 58));
  background: -o-linear-gradient(rgb(238, 238, 229), rgb(21, 0, 58));
  background: -moz-linear-gradient(rgb(238, 238, 229), rgb(21, 0, 58));
  background: linear-gradient(rgb(238, 238, 229), rgb(21, 0, 58)); 
  background-color: #1a237e;
}

.projects-section {
  padding: 10rem 0;
  background: #dde5ee;
}

.projects-section .colorB {
  background: #010b16;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
}

#testimonial {
    background:rgb(21, 0, 58);
    padding:  10px 0 10px 0;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

#first-info {
  text-align: justify;
  background: url(../img/image5.jpg) no-repeat;
}

#info-left {
  align-self: auto;
  -webkit-box-align: center;
}

#second-info {
  background:rgb(21, 0, 58);
}

#contact {
  background: #010b16;
}

#contact .card {
  background: -webkit-linear-gradient(rgb(238, 238, 229), rgb(21, 0, 58));
  background: -o-linear-gradient(rgb(238, 238, 229), rgb(21, 0, 58));
  background: -moz-linear-gradient(rgb(238, 238, 229), rgb(21, 0, 58));
  background: linear-gradient(to top,rgb(173, 173, 156), rgb(21, 0, 58)); 
  background-color: #1a237e;

  text-align: center;
  letter-spacing: 0.15rem;
  font-size: 0.8rem;
  font-family: 'Quicksand', sans-serif;
  border-bottom: 0.15rem solid #534bae
}

#contact .card hr {
  border-color: #010b16;
  border-width: 0.25rem;
  width: 3rem;
}

#contact .card .large {
  font-size: 120%;
} 


.text-primary {
  color: #c3c2d4 !important;
}

footer {
    background: #010b16;
    padding: 3rem 0;
}

footer hr {
  border-color: #aee7de;
  border-width: 0.05rem;
  width: 9rem;
  padding: 4rem 0;
}


footer .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

footer .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

footer .social a:active {
  color: #fff;
}
