
header {
    margin-top: 55px;
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header .container {
    position: relative;
    z-index: 2;
  }



header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  body {
    font-family: 'Comfortaa', cursive;
}


#projects {
    padding: 50px 0 30px 0;
}

#testimonial {
    background: #bdcddf;
    padding:  10px 0 10px 0;
    text-align: center;
    margin-top: 40px;
    font-family: 'Amatic SC', cursive;
}

#first-info {
  text-align: justify;
  background: url(../img/image5.jpg) no-repeat;
}

#contact {
  background: #010b16;
}

#contact .card {
  background: #5d82ad;
  text-align: center;
  letter-spacing: 0.15rem;
  font-size: 0.8rem;
  font-family: 'Amatic SC', cursive;
  border-bottom: 0.25rem solid #a5eee3;
}

#contact .card hr {
  border-color: #b6ddd9;
  border-width: 0.25rem;
  width: 3rem;
}

#contact .card .large {
  font-size: 190%;
} 


.text-primary {
  color: #c3c2d4 !important;
}

footer {
    background: #010b16;
}

footer hr {
  border-color: #aee7de;
  border-width: 0.10rem;
  width: 9rem;
}


footer .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

footer .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

footer .social a:active {
  color: #fff;
}
